<!doctype html>
<html lang="en" dir="ltr">

	<head>
		<meta charset="UTF-8">
		<title>Fox II Admin Login</title>
		<meta name="keywords" content="">
		<link rel='stylesheet' type='text/css' href='..\static\indexstyle.css'>
	
	<div id="header">
		<div id="title">
			<h1>Fox II Sailing Akaroa</h1>
		</div>
		<nav>
			<ul>
				<li>
					<a href="http://localhost:5000/">Home</a>
				</li>
				<li>
					<a href="http://localhost:5000/rates/">Rates/Sailing</a>
				</li>
				<li>
					<a href="http://localhost:5000/charter/">Private Charter</a>
				</li>
				<li>
					<a href="http://localhost:5000/bookings/">Bookings</a>
				</li>
				<li>
					<a href="http://localhost:5000/about_us">About Us</a>
				</li>
				<li>
					<a href="http://localhost:5000/faqs">FAQs & Links</a>
				</li>
			</ul>
		</nav>
	</div>
	
	<body>
	  <div id="content">
		<p>
			<form action="/admin/" method="POST">
				Username:
				<input type="text" name="username"></input>
				</p>
				Password:
				<input type="text" name="password"></input>
				</p>
				<button type="Login" name="login">Login</button>
			</form>
		</p>
	  </div>
	</body>
	<footer>
		<div id="c1">
			<a href="http://localhost:5000/not_available">Contact</a> | <a href="http://localhost:5000/not_available">About Us</a> | <a href="http://localhost:5000/not_available">FAQ</a>
		</div>
	</footer>
</html>