<!doctype html>
<html lang="en" dir="ltr">

	<head>
		<meta charset="UTF-8">
		<title>Fox II Home</title>
		<meta name="keywords" content="">
		<link rel='stylesheet' type='text/css' href='..\static\indexstyle.css'>
	</head>
	
	<div id="header">
		<div id="title">
			<h1>Fox II Sailing Stuff</h1>
		</div>
		<div id="menu">
			<nav>
				<ul>
					<li>
						<a href="http://localhost:5000/">Home</a>
					</li>
					<li>
						<a href="http://localhost:5000/rates/">Rates/Sailing</a>
					</li>
					<li>
						<a href="http://localhost:5000/charter/">Private Charter</a>
					</li>
					<li>
						<a href="http://localhost:5000/bookings/">Bookings</a>
					</li>
					<li>
						<a href="http://localhost:5000/about_us">About Us</a>
					</li>
					<li>
						<a href="http://localhost:5000/faqs">FAQs & Links</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>

	<body>
		<div id="content">
			<h2> Confirm Booking</h2>
			
			<p>
					<form action="/confirmed/" method='POST'>
					Email:  {{cust["Email"]}}
					<br><br>
					<p>Surname: {{cust["surname"]}}</p>
					<p>Given Name:  {{cust["firstname"]}}</p>
					<p>DOB: {{cust["DOB"]}}</p>
					{% if cust["gender"] == 'M' %}
						<p>Gender: Male</p>
					{% endif %}
					{% if cust["gender"] == 'F' %}
						<p>Gender: Female</p>
					{% endif %}					
					<p>Phone Number:  {{cust["phone"]}}</p>		
					<p>Country:  {{cust["country"]}}</p>		
					<br> 
					<button type="submit" name="update" value="Update">Update Customer Details</button>
					<br>
					<br>
					<table>
						<tr>
							<td>
							Cruise Date
							</td>
							<td>
							Departure Time
							</td>
							<td>
							Return Time
							</td>
							<td>
							Vessel
							</td>
							<td>
							Route
							</td>
							<td>
							Available Seats
							</td>
						</tr>	
						{% for row in rows %}
						<tr>
							<td>{{row["CruiseDate"]}}</td>
							<td>{{row["departure"]}}</td>
							<td>{{row["return"]}}</td>
							<td>{{row["name"]}}</td>
							<td>{{row["RouteID"]}}</td>
							<td>{{row["available"]}}</td>
							<td>
						{% endfor %}
					</table>	
					<br>
					<br>
					<!-- Display the selected booking details. Put some logic in here to only print
					the Children if some have booked and only plurals if more than 1 -->
					Booking for {{adults}}
					{% if adults == 1 %}
						Adult
					{% 	else %}
						Adults
					{% endif %}	
					{% if children > 0 %}
						and {{children}}
						{% if children == 1 %}
							Child
						{% else %}
							Children
						{% endif %}	
					{% endif %}	
					<br>
					<p style="color:#FF0000";>{{bookingmessage}}</p>
					<br>
					
					<!-- Store the adults and children here, so they can be passed back to Python when the booking
					is confirmed -->
				<!--	<input type="hidden" name ="adults" value="{{adults}}">
					<input type="hidden" name ="children" value="{{children}}">  -->
					<input type="hidden" name ="CustID" value="{{CustID}}">  
					<button type="submit" name="confirm" value="CBooking">Confirm Booking</button>  
				</form>
			</p>
		</div>
	</body>
	<br/>
	<footer>
		<div id="c1">
			<a href="http://localhost:5000/not_available">Contact</a> | <a href="http://localhost:5000/not_available">About Us</a> | <a href="http://localhost:5000/not_available">FAQ</a> | <a href="http://localhost:5000/adminlogin">Admin</a>
		</div>
	</footer>

</html>