<!doctype html>
<html lang="en" dir="ltr">

	<head>
		<meta charset="UTF-8">
		<title>Fox II Home</title>
		<meta name="keywords" content="">
		<link rel='stylesheet' type='text/css' href='..\static\indexstyle.css' }}">
	</head>
	
	<div id="header">
		<div id="title">
			<h1>Fox II Sailing Stuff</h1>
		</div>
		<div id="menu">
			<nav>
				<ul>
					<li>
						<a href="http://localhost:5000/">Home</a>
					</li>
					<li>
						<a href="http://localhost:5000/rates/">Rates/Sailing</a>
					</li>
					<li>
						<a href="http://localhost:5000/charter/">Private Charter</a>
					</li>
					<li>
						<a href="http://localhost:5000/bookings/">Bookings</a>
					</li>
					<li>
						<a href="http://localhost:5000/about_us">About Us</a>
					</li>
					<li>
						<a href="http://localhost:5000/faqs">FAQs & Links</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>

	<body>
		<div id="content">
			Legal Stuff
			<p>
	<!--			<form action="/confirmed/" method='POST'> -->
					<form action="/custdetails/" method='POST'>
					Email
					</br>
					<input type="email" name = "emailAddress"></input>  
				    <input type="submit"></input> 
					</br>
					Name: {{ custname }}
					
<!--					First Name
					</br>
					<input type="text" id="firstname"></input>
					</br>
					Last Name
					</br>
					<input type="text" id="surname"></input>
					</br>
					Gender
					</br>
					<label for="gender"></label>
						<select>
							<option value="NULL"></option>
							<option value="M">Male</option>
							<option value="F">Female</option>
						</select>
					</br>
					Date of Birth
					</br>
					<input type="date" max="2017-08-17" min="1920-01-01"></input>
					</br>
					Phone Number
					</br>
					<input type="number" id="phone"></input>					
					</br>
					Country
					</br>
					<select>
						<option value=""></option>
					</select>
					</p>
					<button type="Confirm Booking" name="confirm" value="CBooking">Confirm Booking</button>  -->
				</form>
			</p>
		</div>
	</body>
	<br/>
	<footer>
		<div id="c1">
			<a href="http://localhost:5000/not_available">Contact</a> | <a href="http://localhost:5000/not_available">About Us</a> | <a href="http://localhost:5000/not_available">FAQ</a>
		</div>
	</footer>

</html>