<!doctype html>
<html lang="en" dir="ltr">

	<head>
		<meta charset="UTF-8">
		<title>Fox II Home</title>
		<meta name="keywords" content="">
		<link rel='stylesheet' type='text/css' href='..\static\indexstyle.css' }}">
	</head>
	
	<div id="header">
		<div id="title">
			<h1>Fox II Sailing Stuff</h1>
		</div>
		<div id="menu">
			<nav>
				<ul>
					<li>
						<a href="http://localhost:5000/">Home</a>
					</li>
					<li>
						<a href="http://localhost:5000/rates/">Rates/Sailing</a>
					</li>
					<li>
						<a href="http://localhost:5000/charter/">Private Charter</a>
					</li>
					<li>
						<a href="http://localhost:5000/bookings/">Bookings</a>
					</li>
					<li>
						<a href="http://localhost:5000/about_us">About Us</a>
					</li>
					<li>
						<a href="http://localhost:5000/faqs">FAQs & Links</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>

	<body>
		<div id="content">
			Legal Stuff
			<p>
				<form action="/confirmed/" method='POST'>
					First Name
					</br>
					<input type="text" id="firstname">
					</br>
					Last Name
					</br>
					<input type="text" id="surname">
					</br>
					Gender
					</br>
					<label for="gender"></label>
						<select>
							<option value="NULL"></option>
							<option value="M">Male</option>
							<option value="F">Female</option>
						</select>
					</br>
					Date of Birth
					</br>
					<label for="day"></label>
						<select>
							<option value="dd">DD</option>
							<option value="01">01</option>
							<option value="02">02</option>
							<option value="03">03</option>
						</select>
					/
					<label for="month"></label>
						<select>
							<option value="mm">MM</option>
							<option value="01">01</option>
							<option value="02">02</option>
							<option value="03">03</option>
						</select>
					/
					<label for="year"></label>
						<select>
							<option value="yyyy">YYYY</option>
							<option value="2017">2017</option>
							<option value="2016">2016</option>
							<option value="2015">2015</option>
						</select>
					</br>
					Email
					</br>
					Phone Number
					</br>
					Country
					</p>
					<button type="Confirm Booking" name="confirm" value="CBooking">Confirm Booking</button>
				</form>
			</p>
		</div>
	</body>
	<br/>
	<footer>
		<div id="c1">
			<a href="http://localhost:5000/not_available">Contact</a> | <a href="http://localhost:5000/not_available">About Us</a> | <a href="http://localhost:5000/not_available">FAQ</a>
		</div>
	</footer>

</html>