<!doctype html>
<html lang="en" dir="ltr">

	<head>
		<meta charset="UTF-8">
		<title>Fox II FAQs & Links</title>
		<meta name="keywords" content="">
		<link rel='stylesheet' type='text/css' href='..\static\indexstyle.css' }}">
	</head>
	
	<div id="header">
		<div id="title">
			<h1>Fox II Sailing Stuff</h1>
		</div>
		<nav>
			<ul>
				<li>
					<a href="http://localhost:5000/">Home</a>
				</li>
				<li>
					<a href="http://localhost:5000/rates/">Rates/Sailing</a>
				</li>
				<li>
					<a href="http://localhost:5000/charter/">Private Charter</a>
				</li>
				<li>
					<a href="http://localhost:5000/bookings/">Bookings</a>
				</li>
				<li>
					<a href="http://localhost:5000/about_us">About Us</a>
				</li>
				<li>
					<a href="http://localhost:5000/faqs">FAQs & Links</a>
				</li>
			</ul>
		</nav>
	</div>
	
	<body>
	  <div id="content">
		<p>
			<h2>
				{% for row in rows %}
					<td>{{row["heading"]}}</td>
				{% endfor %}
			</h2>
			
			{% for row in rows %}
				<td>{{row["content1"]}}</td>
			{% endfor %}
			
			<br>
			
			{% for row in rows %}
				<td>{{row["content2"]}}</td>
			{% endfor %}
		</p>
	  </div>
	</body>
	<footer>
		<div id="c1">
			<a href="http://localhost:5000/not_available">Contact</a> | <a href="http://localhost:5000/not_available">About Us</a> | <a href="http://localhost:5000/not_available">FAQ</a>
		</div>
	</footer>
</html>