<!doctype html>
<html lang="en" dir="ltr">

	<head>
		<meta charset="UTF-8">
		<title>Fox II Home</title>
		<meta name="keywords" content="">
		<link rel='stylesheet' type='text/css' href='..\static\indexstyle.css'>
	</head>
	
	<div class="header">
		<div class="title">
			<h1>Fox II Sailing Akaroa</h1>
		</div>
		<div class="menu">
			<nav>
				<ul>
					<li>
						<a href="http://localhost:5000/">Home</a>
					</li>
					<li>
						<a href="http://localhost:5000/rates/">Rates/Sailing</a>
					</li>
					<li>
						<a href="http://localhost:5000/charter/">Private Charter</a>
					</li>
					<li>
						<a href="http://localhost:5000/bookings/">Bookings</a>
					</li>
					<li>
						<a href="http://localhost:5000/about_us">About Us</a>
					</li>
					<li>
						<a href="http://localhost:5000/faqs">FAQs & Links</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>

	<body>
		<div class="content">
			Content Stuff
			<p>
				
				<div class="slideshow-container">
					<div class="mySlides fade">
						<div class="numbertext">1 / 3</div>
						<img src="img1.jpg" style="width:100%">
						<div class="text">Caption Text</div>
					</div>

					<div class="mySlides fade">
					<div class="numbertext">2 / 3</div>
						<img src="img2.jpg" style="width:100%">
						<div class="text">Caption Two</div>
					</div>

					<div class="mySlides fade">
						<div class="numbertext">3 / 3</div>
						<img src="img3.jpg" style="width:100%">
						<div class="text">Caption Three</div>
					</div>

					<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
					<a class="next" onclick="plusSlides(1)">&#10095;</a>
					</div>
					<br>

					<div style="text-align:center">
					<span class="dot" onclick="currentSlide(1)"></span> 
					<span class="dot" onclick="currentSlide(2)"></span> 
					<span class="dot" onclick="currentSlide(3)"></span> 
					</div>
				
			</p>
			<br>
			<div class="awards">
				<div class="info">
					Sail with the dolphins in the crater of an extinct volcano on New Zealand’s oldest gaffed rigged ketch and enjoy the wildlife of Akaroa Harbour up close. Relax and soak up the sun, sea and hills or take part as one of the crew. See Hectors dolphins, yellow-eyed and blue penguins, New Zealand fur seals, albatross and other sea birds. Be surrounded by giant volcanic sea cliffs, caves and rock formations along the journey. A guaranteed highlight of your trip that you will remember for the rest of your life
				</div>
				<div class="booking">
					<table>
					<tr>
						<td>
							Cruise Date
						</td>
						<td>
							Departure Time
						</td>
						<td>
							Return Time
						</td>
						<td>
							 Vessel
						</td>
						<td>
							Route
						</td>
						<td>
							Available Seats
						</td>
						<td>
						</td>
						<form action="/singlebooking/" method='POST'>
							{% for row in rows %}
								<tr>
									<td>{{row["CruiseDate"]}}</td>
									<td>{{row["departure"]}}</td>
									<td>{{row["return"]}}</td>
									<td>{{row["name"]}}</td>
									<td>{{row["RouteID"]}}</td>
									<td>{{row["available"]}}</td>
									<td>
										<!-- Only put Book now button there if there are seats available -->
										{% if row["available"] > 0 %}
											<button type="submit" name="label" value={{row["key"]}} >Book Now</button>
										{% endif %}	
									</td>
								</tr>
							{% endfor %}
						</form>
					</tr>
				</table>
				</div>
				<br>
				<div class="award1">
				</div>
				<div class="award2">
				</div>
				<div class="award3">
				</div>
			</div>
		</div>
		
		<script>
		var slideIndex = 1;
		showSlides(slideIndex);

		function plusSlides(n) {
		showSlides(slideIndex += n);
		}

		function currentSlide(n) {
		showSlides(slideIndex = n);
		}

		function showSlides(n) {
		var i;
		var slides = document.getElementsByClassName("mySlides");
		var dots = document.getElementsByClassName("dot");
		if (n > slides.length) {slideIndex = 1} 
		if (n < 1) {slideIndex = slides.length}
		for (i = 0; i < slides.length; i++) {
			slides[i].style.display = "none"; 
		}
		for (i = 0; i < dots.length; i++) {
			dots[i].className = dots[i].className.replace(" active", "");
		}
		slides[slideIndex-1].style.display = "block"; 
		dots[slideIndex-1].className += " active";
		}
		</script>
	</body>
	
	<br/>
	<footer>
		<div class="c1">
			<a href="http://localhost:5000/not_available">Contact</a> | <a href="http://localhost:5000/not_available">About Us</a> | <a href="http://localhost:5000/not_available">FAQ</a>
		</div>
	</footer>

</html>