<!doctype html>
<html lang="en" dir="ltr">

	<head>
		<meta charset="UTF-8">
		<title>Fox II Home</title>
		<meta name="keywords" content="">
		<link rel='stylesheet' type='text/css' href='..\static\style.css' }}">
	</head>
	
	<div id="header">
		<div id="title">
			<h1>Fox II Sailing Stuff</h1>
		</div>
		<div id="menu">
			<nav>
				<ul>
					<li>
						<a href="http://localhost:5000/">Home</a>
					</li>
					<li>
						<a href="http://localhost:5000/rates/">Rates/Sailing</a>
					</li>
					<li>
						<a href="http://localhost:5000/charter/">Private Charter</a>
					</li>
					<li>
						<a href="http://localhost:5000/bookings/">Bookings</a>
					</li>
					<li>
						<a href="http://localhost:5000/about_us">About Us</a>
					</li>
					<li>
						<a href="http://localhost:5000/faqs">FAQs & Links</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>

	<body>
		<div id="content">
			Content Stuff
			<p>
				<table>
					<tr>
						<td>
							Cruise Date
						</td>
						<td>
							Departure Time
						</td>
						<td>
							Return Time
						</td>
						<td>
							 Vessel
						</td>
						<td>
							Route
						</td>
						<td>
							Available Seats
						</td>
						{% for row in rows %}
							<tr>
								<td>{{row["CruiseDate"]}}</td>
								<td>{{row["departure"]}}</td>
								<td>{{row["return"]}}</td>
								<td>{{row["name"]}}</td>
								<td>{{row["RouteID"]}}</td>
								<td>{{row["available"]}}</td>
							</tr>
						{% endfor %}
					</tr>
				</table>
			</p>
		</div>
	</body>
	<div>
	<p>Some text</p>
	<p>Some text</p>
	<p>Some text</p>
	<p>Some text</p>
	<p>Some text</p>
	<p>Some text</p>
	<p>Some text</p>
	<p>Some text</p>
	<p>Some text</p>
	<p>Some text</p>
	<p>Some text</p>
	<p>Some text</p>
	<p>Some text</p>
	<p>Some text</p>
	<p>Some text</p>
	<p>Some text</p>
	<p>Some text</p>
	<p>Some text</p>
	<p>Some text</p>
	<p>Some text</p>
	<p>Some text</p>
	<p>Some text</p>
	<p>Some text</p>
	<p>Some text</p>
	<p>Some text</p>
	<p>Some text</p>
	<p>Some text</p>
	<p>Some text</p>
	<p>Some text</p>
	<p>Some text</p>
	</div>
	<br/>
	<footer>
		<div id="c1">
			<a href="http://localhost:5000/not_available">Contact</a> | <a href="http://localhost:5000/not_available">About Us</a> | <a href="http://localhost:5000/not_available">FAQ</a>
		</div>
	</footer>

</html>