<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>Fox II Home</title>
    <meta name="keywords" content="">
    <!--<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">-->
  </head>
	
	<div id="header">
		<div id="title">
			<h1>Fox II Sailing Stuff</h1>
		</div>
		
		<nav>
			Nav Stuff
		</nav>
	</div>
	
  <body>
    <div id="content">
		Still better than the current Fox II website.
        <br/>
        See <a href="http://www.akaroafoxsail.co.nz/index.html">Here</a>
      <!--{% block content %}{% endblock %}-->
    </div>
  </body>

</html>
