<!doctype html>
<html lang="en" dir="ltr">

	<head>
		<meta charset="UTF-8">
		<title>Fox II Home</title>
		<meta name="keywords" content="">
		<link rel='stylesheet' type='text/css' href='..\static\indexstyle.css'>
	</head>
	
	<div id="header">
		<div id="title">
			<h1>Fox II Sailing Stuff</h1>
		</div>
		<div id="menu">
			<nav>
				<ul>
					<li>
						<a href="http://localhost:5000/">Home</a>
					</li>
					<li>
						<a href="http://localhost:5000/rates/">Rates/Sailing</a>
					</li>
					<li>
						<a href="http://localhost:5000/charter/">Private Charter</a>
					</li>
					<li>
						<a href="http://localhost:5000/bookings/">Bookings</a>
					</li>
					<li>
						<a href="http://localhost:5000/about_us">About Us</a>
					</li>
					<li>
						<a href="http://localhost:5000/faqs">FAQs & Links</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>

	<body>
		<div id="content">
			{% if action == 'ADD' %}
				<h2>Create New Customer</h2>
			{% else %}
				<h2>Maintain Customer Details</h2>
			{% endif %}
			<p>
				<form action="/custdetails/" method='POST'> 
					Email
					<br>
					<!-- Alow an email address to be changed if this is an existing email, otherwise
					just display the email.  Place it in a hidden field so it gets returned to the
					python procedure -->
					{% if action == 'ADD' %}
						<input type="email" name = "emailaddr" size = 35 value = {{emailaddr}} > </input>
					{% else %}
						<input type="hidden" name ="emailaddr" value="{{emailaddr}}">
						{{emailaddr}}
					{% endif %}	
					<br>
					First Name
					<br>
					<input type="text" name="firstname" value = {{cust["firstname"]}}></input>
					<br>
					Last Name
					<br>
					<input type="text" name="surname" value = {{cust["surname"]}}></input>
					<br>
					Gender
					<br>
					<label for="gender"></label>
						<select name="gender" class="selectpicker form-control">
							<option value="NULL" {% if (cust["gender"] == "NULL") %} selected="selected" {% endif %}></option>
							<option value="M" {% if (cust["gender"] == "M") %} selected="selected" {% endif %}>Male</option>
							<option value="F" {% if (cust["gender"] == "F") %} selected="selected" {% endif %}>Female</option>
						</select>
					<br>
					Date of Birth
					<br>
					<input type="date" name = "DOB" max="1999-09-5" min="1920-01-01" value = {{cust["DOB"]}}></input>
					<br>
					Phone Number
					<br>
					<input type="text" name="phone" value= {{cust["phone"]}}></input>					
					<br>
					Country
					<br>
					<select name="countryCode" class="selectpicker form-control">
					{% for country in countries %}
						<option value="{{country["countryCode"]}}" {% if (country["countryCode"] == cust["countryCode"]) %} selected="selected" {% endif %}>{{country["country"]}}</option>
					{% endfor %} 
					</select>
					<input type="hidden" name ="action" value="{{action}}">
					</br>
					<button type="submit" name="confirm" value="CDetails">Confirm Details</button>
					<br>
					<p style="color:#FF0000";>{{returnmessage}}</p>
					<br>
				</form>
				<!-- Have a diffrent form here which enables the user to return to the booking confirmation screen. we store the
				customers email address and CustID here as they are returned to the POST method of validatecust. Only display
				this option when we know we have a valid customer -->
				{% if action == 'UPDATE' %}
					<form action="/validatecust/" method='POST'>
						<input type="hidden" name ="CustID" value="{{CustID}}">
						<input type="hidden" name ="emailAddress" value="{{emailaddr}}">
						<button type="submit" name="bookingfromCust" value="Return to Booking">Return to Booking</button>
					</form>
				{% endif %}
			</p>	
		</div>
	</body>
	<br/>
	<footer>
		<div id="c1">
			<a href="http://localhost:5000/not_available">Contact</a> | <a href="http://localhost:5000/not_available">About Us</a> | <a href="http://localhost:5000/not_available">FAQ</a> | <a href="http://localhost:5000/adminlogin">Admin</a>
		</div>
	</footer>

</html>