<!doctype html>
<html lang="en" dir="ltr">

	<head>
		<meta charset="UTF-8">
		<title>Fox II Home</title>
		<meta name="keywords" content="">
		<link rel='stylesheet' type='text/css' href='..\static\indexstyle.css' }}">
	</head>
	
	<div id="header">
		<div id="title">
			<h1>Fox II Sailing Stuff</h1>
		</div>
		<div id="menu">
			<nav>
				<ul>
					<li>
						<a href="http://localhost:5000/">Home</a>
					</li>
					<li>
						<a href="http://localhost:5000/rates/">Rates/Sailing</a>
					</li>
					<li>
						<a href="http://localhost:5000/charter/">Private Charter</a>
					</li>
					<li>
						<a href="http://localhost:5000/bookings/">Bookings</a>
					</li>
					<li>
						<a href="http://localhost:5000/about_us">About Us</a>
					</li>
					<li>
						<a href="http://localhost:5000/faqs">FAQs & Links</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>

	<body>
		<div id="content">
			{% if action == 'ADD' %}
				<h2>Create New Customer</h2>
			{% else %}
				<h2>Maintain Customer Details</h2>
			{% endif %}
			<p>
				<form action="/addcust/" method='POST'> 
					Email
					</br>
					<input type="email" name = "emailAddress" value = {{emailaddr}} > </input>
					</br>
					First Name
					</br>
					<input type="text" id="firstname" value = {{cust["firstname"]}}></input>
					</br>
					Last Name
					</br>
					<input type="text" id="surname" value = {{cust["surname"]}}></input>
					</br>
					Gender
					</br>
					<label for="gender"></label>
						<select>
							<option value="NULL" {% if (cust["gender"] == "NULL") %} selected="selected" {% endif %}></option>
							<option value="M" {% if (cust["gender"] == "M") %} selected="selected" {% endif %}>Male</option>
							<option value="F" {% if (cust["gender"] == "F") %} selected="selected" {% endif %}>Female</option>
						</select>
					</br>
					Date of Birth
					</br>
					<input type="date" max="2017-08-17" min="1920-01-01" value = {{cust["DOB"]}}></input>
					</br>
					Phone Number
					</br>
					<input type="number" id="phone" value= {{cust["phone"]}}></input>					
					</br>
					Country
					<br>
					<select>
					{% for country in countries %}
					<option value="{{country["countryCode"]}}" {% if (country["countryCode"] == cust["CountryCode"]) %} selected="selected" {% endif %}>{{country["country"]}}</option>
					{% endfor %} 
					</select>
					</br>
					<button type="Confirm Details" name="confirm" value="CDetails">Confirm Details</button>  
				</form>
			</p>	
		</div>
	</body>
	<br/>
	<footer>
		<div id="c1">
			<a href="http://localhost:5000/not_available">Contact</a> | <a href="http://localhost:5000/not_available">About Us</a> | <a href="http://localhost:5000/not_available">FAQ</a>
		</div>
	</footer>

</html>