<!doctype html>
<html lang="en" dir="ltr">

	<head>
		<meta charset="UTF-8">
		<title>Fox II Home</title>
		<meta name="keywords" content="">
		<link rel='stylesheet' type='text/css' href='..\static\indexstyle.css'>
	</head>
	
	<div id="header">
		<div id="title">
			<h1>Fox II Sailing Stuff</h1>
		</div>
		<div id="menu">
			<nav>
				<ul>
					<li>
						<a href="http://localhost:5000/">Home</a>
					</li>
					<li>
						<a href="http://localhost:5000/rates/">Rates/Sailing</a>
					</li>
					<li>
						<a href="http://localhost:5000/charter/">Private Charter</a>
					</li>
					<li>
						<a href="http://localhost:5000/bookings/">Bookings</a>
					</li>
					<li>
						<a href="http://localhost:5000/about_us">About Us</a>
					</li>
					<li>
						<a href="http://localhost:5000/faqs">FAQs & Links</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>

	<body>
		<div id="content">
			{% if action == 'ADD' %}
				<h2>Add New Schedule</h2>
			{% else %}
				<h2>Edit Schedule</h2>
			{% endif %}
			<p>
				<form action="/scheddetails/" method='POST'> 
					Cruise date
					
					<!-- Alow the CruiseDate and CruiseNo to be added unless it is an existing
					shcedule where we just place it in a hidden field so it gets returned to the
					python procedure -->
					{% if action == 'ADD' %}
						Cruise date		
						<input type="date" name = "CruiseDate" value = {{CruiseDate}} > </input>
						<br></br>
						Cruise Number
						<input type="number" name = "CruiseNo" value = {{CruiseNo}} > </input>
					{% else %}
						<input type="hidden" name ="CruiseDate" value="{{CruiseDate}}">
						<input type="hidden" name ="CruiseNo" value="{{CruiseNo}}">
						Cruise Date
						{{CruiseDate}}
						Cruise Number
						{{CruiseNo}}
					{% endif %}	
					</br>
					Departure
					</br>
					<input type="time" name="departure" value = {{sched["departure"]}}></input>
					</br>
					Return
					</br>
					<input type="time" name="return" value = {{sched["return"]}}></input>
					</br>
					Boat
					<br>
					<select name="BoatID" class="selectpicker form-control">
					{% for boat in boats %}
						<option value="{{boat["BoatID"]}}" {% if (boat["BoatID"] == sched["BoatID"]) %} selected="selected" {% endif %}>{{boat["BoatID"]}}</option>
					{% endfor %} 
					</select>
					</br>
					Route
					<br>
					<select name="RouteID" class="selectpicker form-control">
					{% for boat in boats %}
						<option value="{{route["RouteID"]}}" {% if (route["RouteID"] == sched["RouteID"]) %} selected="selected" {% endif %}>{{route["RouteID"]}}</option>
					{% endfor %} 
					</select>
					</br>					
					Available Seats
					<br>
					<input type="number" name = "available" value = {{available}} > </input>
					</br>
					
					<input type="hidden" name ="action" value="{{action}}">
					</br>
					{% if action = "ADD" %}
						<button type="Add Schedule" name="confirm" value="Add">Add</button>
					{% elseif %}
						<button type="Update" name="update" value="Update">Edit</button>
						<button type="Delete" name="delete" value="Delete">Edit</button>
					{% endif %}	
					<br></br>
					<br></br>
					{{returnmessage}}
				</form>
			</p>	
		</div>
	</body>
	<br/>
	<footer>
		<div id="c1">
			<a href="http://localhost:5000/not_available">Contact</a> | <a href="http://localhost:5000/not_available">About Us</a> | <a href="http://localhost:5000/not_available">FAQ</a>
		</div>
	</footer>

</html>