<!doctype html>
<html lang="en" dir="ltr">

	<head>
		<meta charset="UTF-8">
		<title>Fox II Home</title>
		<meta name="keywords" content="">
		<link rel='stylesheet' type='text/css' href='..\static\indexstyle.css'>
	</head>
	
	<div id="header">
		<div id="title">
			<h1>Fox II Sailing Stuff</h1>
		</div>
		<div id="menu">
			<nav>
				<ul>
					<li>
						<a href="http://localhost:5000/">Home</a>
					</li>
					<li>
						<a href="http://localhost:5000/rates/">Rates/Sailing</a>
					</li>
					<li>
						<a href="http://localhost:5000/charter/">Private Charter</a>
					</li>
					<li>
						<a href="http://localhost:5000/bookings/">Bookings</a>
					</li>
					<li>
						<a href="http://localhost:5000/about_us">About Us</a>
					</li>
					<li>
						<a href="http://localhost:5000/faqs">FAQs & Links</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>

	<body>
		<div id="content">
			<h2>Schedule Maintenance</h2>
			<p>
				<form action="/confirmschedule/" method='POST'> 

					Cruise date
					<br>
					<input type="date" name = "CruiseDate" value = {{CruiseDate}} > </input>
					<br>
					Cruise Number
					<br>
					<input type="number" name = "CruiseNo" value = {{CruiseNo}} > </input>
					<br>
					Departure
					<br>
					<input type="time" name="departure" value = {{sched["departure"]}}></input>
					<br>
					Return
					<br>
					<input type="time" name="return" value = {{sched["return"]}}></input>
					<br>
					Boat
					<br>
					<select name="BoatID" class="selectpicker form-control">
					{% for boat in boats %}
						<option value="{{boat["BoatID"]}}" {% if (boat["BoatID"] == sched["BoatID"]) %} selected="selected" {% endif %}>{{boat["BoatID"]}}</option>
					{% endfor %} 
					</select>
					<br>
					Route
					<br>
					<select name="RouteID" class="selectpicker form-control">
					{% for route in routes %}
						<option value="{{route["RouteID"]}}" {% if (route["RouteID"] == sched["RouteID"]) %} selected="selected" {% endif %}>{{route["RouteID"]}}</option>
					{% endfor %} 
					</select>
					<br>					
					Available Seats
					<br>
					<input type="number" name = "available" value = {{sched["available"]}} > </input>
					<br>
					<br>
					{% if action == 'CONFIRM' %}
						<button type="submit" name="canceldelete" value="Cancel">Cancel</button>
						<button type="submit" name="confirmdelete" value="Delete">Confirm Delete</button>
					{% else %}
						<button type="submit" name="read" value="Read">Read</button>
						<button type="submit" name="add" value="Add">Add</button>
						<button type="submit" name="update" value="Update">Update</button>
						<button type="submit" name="delete" value="Delete">Delete</button>
					{% endif %}	
					<br><br>
					<p style="color:#FF0000";>{{returnmessage}}</p>
					<br><br>
				</form>
				<form action="/schedules/" method='POST'>
					<button type="submit" name="schedules" value="Return to Schedules">Return to Schedules</button>
				</form>	
			</p>	
		</div>
	</body>
	<br/>
	<footer>
		<div id="c1">
			<a href="http://localhost:5000/not_available">Contact</a> | <a href="http://localhost:5000/not_available">About Us</a> | <a href="http://localhost:5000/not_available">FAQ</a>
		</div>
	</footer>

</html>