<!doctype html>
<html lang="en" dir="ltr">

	<head>
		<meta charset="UTF-8">
		<title>Fox II Bookings</title>
		<meta name="keywords" content="">
		<link rel='stylesheet' type='text/css' href='..\static\indexstyle.css'>
	</head>
	
	<div id="header">
		<div id="title">
			<h1>Fox II Sailing Stuff</h1>
		</div>
		<nav>
			<ul>
				<li>
					<a href="http://localhost:5000/">Home</a>
				</li>
				<li>
					<a href="http://localhost:5000/rates/">Rates/Sailing</a>
				</li>
				<li>
					<a href="http://localhost:5000/charter/">Private Charter</a>
				</li>
				<li>
					<a href="http://localhost:5000/bookings/">Bookings</a>
				</li>
				<li>
					<a href="http://localhost:5000/about_us">About Us</a>
				</li>
				<li>
					<a href="http://localhost:5000/faqs">FAQs & Links</a>
				</li>
			</ul>
		</nav>
	</div>
	
	<body>
	  <div id="content">
		Insert info about cost of ticket.
		<br>
		<form action="/validatecust/" method='POST'>
		<br>
		Enter Email Address: <input type="email" name="emailAddress" size = 35 value="{{emailaddr}}" required></input>
		<br>
		If you are a new customer you will be taken to the Customer registration screen					
		<br><br><br>
		<table>
			<tr>
				<td>
					Cruise Date
				</td>
				<td>
					Departure Time
				</td>
				<td>
					Return Time
				</td>
				<td>
					 Vessel
				</td>
				<td>
					Route
				</td>
				<td>
					Available Seats
				</td>
				<td>
					<label for="adults">Adults:</label>
				</td>
				<td>
					<label for="children">Children:</label>
				</td>
			</tr>	
	
			{% for row in rows %}
				<tr>
					<td>{{row["CruiseDate"]}}</td>
					<td>{{row["departure"]}}</td>
					<td>{{row["return"]}}</td>
					<td>{{row["name"]}}</td>
					<td>{{row["RouteID"]}}</td>
					<td>{{row["available"]}}</td>
					<td>
						<label for="adults"></label>
						<input type="number" name = "adults" value = {{adults}} min = "0"> </input>
					</td>
					<td>
						<label for="children"></label>
						<input type="number" name = "children" value = {{children}} min = "0"> </input>
					</td>
				</tr>	
			{% endfor %}
		</table>	
		<br>
		<p style="color:#FF0000";>{{validationerror}}</p>
		<br>
		
		<input type="submit" value="Continue Booking">			
		</form>
		<br>
	  </div>
	</body>
	<p/>	<!--Temporary(Need CSS)-->
	<footer>
		<div id="c1">
			<a href="http://localhost:5000/not_available">Contact</a> | <a href="http://localhost:5000/not_available">About Us</a> | <a href="http://localhost:5000/not_available">FAQ</a> | <a href="http://localhost:5000/adminlogin">Admin</a>
		</div>
	</footer>
</html>